<html>
 <head>
  <link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 crossorigin="anonymous">
  </head>
  <body>
    <div class="container" style="padding:20px">
     <div class="card card-body bg-light">
     <h2>Post an Event</h2>
     <form action="/add/submit" method="post">
       <h5>Event Name:</h5> <br/>
      <input type="text" class="form-control" 
        name="eventName" style="max-width:300px">
      <br/>
      <fieldset>
    <h5>Event Date & Time:</h5> <br/>
    <b>Start:     </b>  <input type="date" id="startDate" name="startDate"> <input type="time" id="startTime" name="startTime"> <br><br>
    <b>End:     </b>   <input type="date" id="endDate" name="endDate"> <input type="time" id="endTime" name="endTime">
    </fieldset> <br/>
       <h5>Event Type:</h5> <br/>
      <input type="text" class="form-control" 
        name="eventType" style="max-width:300px">
      <br/>
      <h5>Give your event a brief description:</h5> <br/>
      <textarea name="eventDesc" style="width:300px; height:100px"></textarea> <br/>
      <br/>
       <h5>Give your event some tags!</h5> <br/>
       <b><i>(Separate your tags with a comma, like this: "LGBTQ Friendly, Allies Welcome, Food Provided") </i></b> <br/>
      <input type="text" class="form-control" 
        name="eventTags" style="max-width:300px">
      <br/>
      <input type="submit" value="OK" class="btn btn-primary">
     </form>
    </div>
  </div>
 </body>
</html>