<script id="event-template" type="text/template">
  <div class="block">
    <h2>{{name}}</h2>
    <h5>{{type}}</h5>
    <b>Start: {{startDate}} at {{startTime}}</b> <br/>
    <b>End: {{endDate}} at {{endTime}}</b> <br/>
    <p>{{desc}}</p> <br/>
    <i>{{tags}}</i>
  </div>
</script>

<div id="events-container">
  <!-- Rendered blocks will go here -->
</div>